{% extends 'app/base.html' %}
{% load static %}


{% block content %}
<div class="contenedor-recuadro">

  <!-- Recuadro único que contiene lista y formulario -->
  <div class="recuadro-servicio">

    <!-- Lista de Reservas (Izquierda) -->
    <div class="lado izquierdo">
  <h3>Reservas Existentes</h3>
  <table style="width:100%; font-size:14px;">
      {% for r in reservas %}
      <li>
        <a   href="{% url 'modificar_reserva_emp' r.id_reserva %}"><i class="fas fa-pen"></i></a>
          {{ r.id_reserva }}
        <a href="{% url 'eliminar_reserva_emp' r.id_reserva %}"><i class="fas fa-trash"></i></a>
      </li>
      {% endfor %}
  </table>
</div>
    <!-- Formulario de Reserva -->
    <div class="lado derecho">
      <h2 class="reservaTitulo">Crear Reserva</h2>
      
    
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="titulosInputs"><p>Identificador</p></div>
        <input type="text" name="{{ form.id_reserva.name }}" value="{{ form.id_reserva.value|default_if_none:'' }}" placeholder="Nombre del servicio" readonly>
        
        <div class="titulosInputs"><p>Fecha ingreso</p></div>
        <input type="datetime" name="{{ form.fechaInicio.name }}" value="{{ form.fechaInicio.value }}" placeholder="Nombre del servicio">
        
        <div class="titulosInputs"><p>Fecha partida</p></div>
        <input type="datetime" name="{{ form.fechaFinal.name }}" value="{{ form.fechaFinal.value }}" placeholder="Nombre del servicio">
        
        <div class="titulosInputs"><p>RUT</p></div>
        {{ form.rut_cliente }}
        
        <div class="titulosInputs"><p>Servicio</p></div>
        {{ form.n_s_ext }}
        
        <div class="titulosInputs"><p>Habitacion</p></div>
        {{ form.n_habitacion }}
                
        <div class="titulosInputs"><p>Total</p></div>
        <input type="number" name="{{ form.precio_total.name }}" value="{{ form.precio_total.value }}" placeholder="Valor Total">
        
        
        <div class="contenedorInputs">
          <button type="submit" class="button">Confirmar</button>
        </div>
      </form>
    </div>

  </div>
</div>
{% endblock %}
