{% extends 'app/base.html' %}

{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/habitaciones.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- tarjeta principal -->
  <div class="col-12 mb-4">
    <div class="tarjeta">
      <img src="https://vulcanopro.s3.amazonaws.com/images/lar_vBifLGu8hEUcQrhOXZkv6n5I3fkOfJmQbjuaCPxu.jpeg"
        class="card-img-top" alt="Habitacion Sunset global">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Habitaciones NewRapaNui</h3>
        <h5 class="card-text" style="text-align: center;margin-top: 20px;" >Nuestras habitaciones low cost ofrecen todo 
          lo esencial para una estadía cómoda y placentera, manteniendo altos estándares de limpieza, 
          diseño funcional y atención personalizada. 
          Ideal para viajeros que valoran la calidad sin pagar de más.</h5  >
      </div>
    </div>
  </div>

 <!-- segunda fila -->
{% for h in habitaciones %}
  {% if forloop.counter0|divisibleby:3 %}
    <div class="row mb-3"> <!-- Abrimos nueva fila cada 3 cards -->
  {% endif %}

      <div class="col-md-4 mb-4">
        <div class="tarjeta">
          <img src="{{ h.imagen.url }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ h.n_habitacion }}</h5>
            <p class="card-text">{{ h.descripcion_breve }}</p>
            <a href="{% url 'detalle_Habitaciones' h.n_habitacion %}" class="btn-custom">Ver más</a>
          </div>
        </div>
      </div>

  {% if forloop.counter|divisibleby:3 or forloop.last %}
    </div> <!-- Cerramos la fila -->
  {% endif %}
{% endfor %}

</div>
{% endblock %}

 





 