{% extends 'app/base-emp.html' %}
{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/crear-cliente-emp.css' %}">
{% endblock %}

{% block content %}
<div class="cajaServicios">
  <h1 class="reservaTitulo">Cliente</h1>
  <div class="container">

    {% comment %} Nombres {% endcomment %}
    <div class="filaCheSer">
      <div class="row">
        <div class="col"><p class="titSerExt">Primer Nombre</p></div>
        <div class="col"><p class="titSerExt">Segundo Nombre</p></div>
      </div>
      <div class="row">
        <div class="col"><input class="inputNombres" type="text" name="primer_nombre" id="primer_nombre" placeholder="Primer nombre"></div>
        <div class="col"><input class="inputNombres" type="text" name="segundo_nombre" id="segundo_nombre" placeholder="Segundo nombre"></div>
      </div>
    </div>

    {% comment %} Apellidos {% endcomment %}
    <div class="filaCheSer">
      <div class="row">
        <div class="col"><p class="titSerExt">Primer Apellido</p></div>
        <div class="col"><p class="titSerExt">Segundo Apellido</p></div>
      </div>
      <div class="row">
        <div class="col"><input class="inputNombres" type="text" name="primer_apellido" id="primer_apellido" placeholder="Primer Apellido"></div>
        <div class="col"><input class="inputNombres" type="text" name="segundo_apellido" id="segundo_apellido" placeholder="Segundo Apellido"></div>
      </div>
    </div>

    {% comment %} Teléfono y País {% endcomment %}
    <div class="filaCheSer">
      <div class="row">
        <div class="col"><p class="titSerExt">Teléfono</p></div>
        <div class="col"><p class="titSerExt">País</p></div>
      </div>
      <div class="row">
        <div class="col"><input class="inputNombres" type="text" name="telefono" id="telefono" placeholder="ej: +569 12345678"></div>
        <div class="col"><input class="inputNombres" type="text" name="pais" id="pais" placeholder="ej: Chile"></div>
      </div>
    </div>

    {% comment %} Correo y Dirección {% endcomment %}
    <div class="filaCheSer">
      <div class="row">
        <div class="col"><p class="titSerExt">E-mail</p></div>
        <div class="col"><p class="titSerExt">Dirección</p></div>
      </div>
      <div class="row">
        <div class="col"><input class="inputNombres" type="email" name="correo" id="correo" placeholder="ej: ejemplo@gmail.com"></div>
        <div class="col"><input class="inputNombres" type="text" name="direccion" id="direccion" placeholder="ej: calle número, comuna, región, país"></div>
      </div>
    </div>

    {% comment %} RUT y botón {% endcomment %}
    <div class="filaCheSer">
      <div class="row">
        <div class="col"><p class="titSerExt">RUT</p></div>
      </div>
      <div class="row">
        <div class="col-6"><input class="inputNombres" type="text" name="rut" id="rut" placeholder="ej: 01.234.567-8"></div>
        <div class="col-6"><button class="button" style="width: 50%;">Crear Cliente</button></div>
      </div>
    </div>

  </div>
</div>
{% endblock %}