{% extends 'app/base-emp.html' %}
{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/crear-reserva-emp.css' %}">
{% endblock %}

{% block content %}
<div class="form-wrapper"> <!-- Contenedor para centrar -->
  <div class="containerReserva">
    <h2>Reservas</h2>
    <div class="formReserva">
      <div class="form-left">
        <label>Nombre</label>
        <input type="text" placeholder="Value" />

        <label>Telefono contacto</label>
        <input type="text" placeholder="Value" />

        <label>E-Mail</label>
        <input type="email" placeholder="Value" />

        <label>N° tarjeta de Credito</label>
        <input type="text" placeholder="Value" />

        <label>Rut / N° Pasaporte</label>
        <input type="text" placeholder="Value" />
      </div>

      <div class="form-right">
        <div class="servicio-item">
          <div>
            <strong>Habitación Costa New</strong><br />
            cantidad: 6 Noches
          </div>
          <div>$89.990</div>
        </div>

        <div class="servicio-item">
          <div>
            <strong>Tour día completo</strong><br />
            cantidad: 2 Personas
          </div>
          <div>$79.990</div>
        </div>

        <div class="servicio-item">
          <div>
            <strong>Vista del amanecer.</strong><br />
            cantidad: 2 Personas
          </div>
          <div>$79.990</div>
        </div>

        <div class="servicio-item total-servicio">
          <div><strong>TOTAL:</strong><br />cantidad: 2 Personas</div>
          <div>$859.900</div>
          
        </div>
        <button class="btnReserva">Crear Reserva</button>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}

