{% extends 'app/base.html' %}
{% load static %}

{% block title %}Reservas{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/crear-reserva-emp.css' %}">
{% endblock %}

{% block content %}
<main class="contenedor-recuadro">

  <!-- Recuadro único que contiene lista y formulario -->
  <div class="recuadro-servicio">

    <!-- Lista de Reservas (Izquierda) -->
    <div class="lado izquierdo">
  <h3>Reservas Existentes</h3>
  <table style="width:100%; font-size:14px;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Cliente</th>
        <th>Servicio Ext</th>
        <th>Habitación</th>
        <th>País</th>
      </tr>
    </thead>
    <tbody>
        <ul>
          {% for r in reservas %}
          <li>
            <a  class="btn btn-info btn-sm btn-warning" href="{% url 'modificar_reserva_emp' r.id_reserva %}"><i class="fas fa-pen"></i></a>
              {{ r.id_reserva }}
            <a class="btn btn-info btn-sm btn-danger" href="{% url 'eliminar_reserva_emp' r.id_reserva %}"><i class="fas fa-trash"></i></a>
          </li>
          {% endfor %}
        </ul>
    </tbody>
  </table>
</div>
    <!-- Formulario de Reserva -->
    <div class="lado derecho">
      <h2 class="reservaTitulo">Crear Reserva</h2>
      
    
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="titulosInputs"><p>ID Reserva</p></div>
        {{ form }}
        

        <div class="contenedorInputs">
          <button type="submit" class="button">Crear Reserva</button>
        </div>
      </form>
    </div>

  </div>
</main>
{% endblock %}
