{% extends 'app/base-emp.html' %}

{% load static %}

{% block title %}Servicio EMP{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/servicio-emp.css' %}">
{% endblock %}

{% block content %}
  <main class="servicio-container">
    
    <div class="servicio-box" style= "background-color: #e9d8c4";>
      <aside class="lista-servicio" >
        <ul>
          <li><span class="dot"></span> Tour completo <span class="check"></span></li>
          <li><span class="dot"></span> Vista Amanecer <span class="check"></span></li>
          <li><span class="dot"></span> Anakena <span class="check"></span></li>
          <li><span class="dot"></span> Paseo en balsa Motus <span class="check"></span></li>
          <li><span class="dot"></span> All Inclusive <span class="check"></span></li>
          <li><span class="dot"></span> Desayuno Tradicional <span class="check"></span></li>
          <li><span class="dot"></span> Desayuno Premium <span class="check"></span></li>
          <li><span class="dot"></span> Viaje Aeropuerto <span class="check"></span></li>
          <li><span class="dot"></span> Tour Cena <span class="check"></span></li> 
        </ul>
        <button class="crear-btn">Crear Nuevo</button>
      </aside>

      <section class="formulario">
        
        <form>
            <h1>Servicios</h1>
          <label>Nombre</label>
          <input type="text" placeholder="Value">
          
          <label>Descripción</label>
          <input type="text" placeholder="Value">

          <label>Valor</label>
          <input type="email" placeholder="Value">

          <label>Condición</label>
          <input type="text" placeholder="Value">
          <li><span class="dot"></span> Servicio Externo <span class="check"></span></li> 
          <label>Empresa</label>
          <input type="text" placeholder="Value">
        </form>
        <div class="acciones">
      <button>Editar</button>
      <button>Eliminar</button>
      <button>Imprimir informe</button>

  </main>
{% endblock %}