{% extends 'app/base.html' %}
{% load static %}

{% block title %}Servicio EMP{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/servicio-emp.css' %}">
{% endblock %}

{% block content %}
<main class="servicio-container">

  <div class="servicio-box" style="background-color: #e9d8c4;">
    
    <!-- Lista de Servicios Externos -->
    <aside class="lista-servicio">
      <ul>
        <h3>Servicios</h3>
        {% if servicios_ext %}
          {% for servicio in servicios_ext %}
            <li>
              <span class="dot"></span> 
              {{ servicio.n_s_ext }} - {{ servicio.descripcion_s_ext }} ({{ servicio.precio_s_ext }}) 
              <span class="check"></span>
            </li>
          {% endfor %}
        {% else %}
          <li>No hay servicios externos registrados.</li>
        {% endif %}
      </ul>
      <a href="{% url 'listar_servicio' %}">
        <button class="crear-btn">Crear Nuevo</button>
      </a>
    </aside>

    <!-- Formulario -->
    <section class="formulario">
      <form method="post" action="">
        {% csrf_token %}
        <h1>Servicios </h1>

        <label>Nombre</label>
        <input type="text" name="nombre" placeholder="Nombre del servicio">

        <label>Descripción</label>
        <input type="text" name="descripcion" placeholder="Descripción del servicio">

        <label>Valor</label>
        <input type="number" name="valor" placeholder="Valor del servicio" step="0.01">

        <label>Condición</label>
        <input type="text" name="condicion" placeholder="Condición">

        <label>Empresa</label>
        <input type="text" name="empresa" placeholder="Nombre de la empresa externa">

        <div class="acciones">
          <button type="submit">Guardar</button>
          <button type="reset">Limpiar</button>
        </div>
      </form>

      <div class="acciones-secundarias">
        <button>Editar</button>
        <button>Eliminar</button>
        <button>Imprimir informe</button>
      </div>
    </section>

  </div>
</main>
{% endblock %}
