{% extends 'app/base.html' %}
{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/perfil-usuario.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-bottom: 300px;">
  <div class="row">
    <div class="col-8">
      <form class="form-container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-icon">👤Crea tu Perfil Usuario</div>
        {{ form }}
        <button type="submit" >CREAR PERFIL</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

 