{% extends 'app/base.html' %}
{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/perfil-usuario.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-bottom: 300px;">
  <div class="row">
    <div class="col-8">
      <form class="form-container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-icon">👤Perfil Usuario</div>
        <div class="form-grid">
          <div>
            <label for="nombre">Rut</label>
            <input type="text" id="Rut_cliente" name="{{ clientes.Rut_cliente.name }}" value="{{ clientes.Rut_cliente.value }}"  placeholder="Ingresa tu nombre">
          </div>
          <div>
            <label for="nombre">1° Nombre</label>
            <input type="text" id="Rut_cliente" name="{{ clientes.Pnombre_cliente.name }}" value="{{ clientes.Pnombre_cliente.value }}"  placeholder="Ingresa tu nombre">
          </div>
          <div>
            <label for="cargo">2° Nombre</label>
            <input type="text" id="Rut_cliente" name="{{ clientes.Snombre_cliente.name }}" value="{{ clientes.Snombre_cliente.value }}" placeholder="Ingresa tu tarjeta">
          </div>
          <div>
            <label for="primer-apellido">1er Apellido</label>
            <input type="text" id="apellidos" name="{{ clientes.Papellido_cliente.name }}" value="{{ clientes.Papellido_cliente.value }}" placeholder="Ingresa tus dos apellido">
          </div>
          <div>
            <label for="pais-origen">2er Apellido</label>
            <input type="text" id="pais-origen" name="{{ clientes.Sapellido_cliente.name }}" value="{{ clientes.Sapellido_cliente.value }}" placeholder="Ingresa tu país de origen">
          </div>
          <div>
            <label for="comuna">Correo</label>
            <input type="text" id="tarjeta-Credito" name="{{ clientes.email_cliente.name }}" value="{{ clientes.email_cliente.value }}" placeholder="Nombre de la tarjeta de credito">
          </div>
          <div>
            <label for="segundo-apellido">Telefono</label>
            <input type="text" id="Rut" name="{{ clientes.telefono_cliente.name }}" value="{{ clientes.telefono_cliente.value }}"  placeholder="Rut / No° de pasaporte">
          </div>
          <div>
            <label for="contacto">Direccion</label>
            <input type="text" id="contacto" name="{{ clientes.direccion_cliente.name }}" value="{{ clientes.direccion_cliente.value }}"  placeholder="Ingresa tu número de contacto">
          </div>
        </div>
        <button type="submit" >Guardar cambios</button>
        <a href="#">Ingresar perfil</a>
        <a href="{% url 'eliminar_perfil_usuario' clientes.instance.Rut_cliente %}">Eliminar perfil</a>
        <a href="{% url 'editar_perfil_usuario' clientes.instance.Rut_cliente %}">Editar perfil</a>
      </form>
    </div>
    <div class="row col-4" style="background-color: bisque;margin-top: 70px;border-radius: 9px;height: 415px; overflow-y: auto;">
      <h2 style="color: black;text-align: center;margin-top: 15px;" >RESERVAS</h2>
      {% for r in reservas %}
            <div class="card">
              Reserva N°: {{ r.id_reserva }}<br>
              <small>Del: {{ r.fechaInicio }}</small>
              <small>Hasta: {{ r.fechaFinal }}</small>
              <!-- Botón del modal -->
              <button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#modal{{ r.id_reserva }}">
                Ver detalles
              </button>
            </div>
                      <!-- Modal por reserva -->
                      <div class="modal fade" id="modal{{ r.id_reserva }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ r.id_reserva }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalLabel{{ r.id_reserva }}">Detalles de la reserva N°{{ r.id_reserva }}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p><strong>Habitacion:</strong> {{ r.n_habitacion }}</p>
                              <p style="margin-left: 40px;"><strong>Tipo/Cantidad: </strong> {{ r.n_habitacion.descripcion_breve }}</p>
                              <p><strong>Cliente:</strong></p>
                              <p style="margin-left: 40px;"><strong>Nombre:</strong> {{ r.rut_cliente.Pnombre_cliente }} {{ r.rut_cliente.Papellido_cliente }} {{ r.rut_cliente.Sapellido_cliente }}</p>
                              <p style="margin-left: 40px;"><strong>Rut: </strong> {{ r.rut_cliente.Rut_cliente }}</p>
                              <p style="margin-left: 40px;"><strong>Telefono: </strong>{{ r.rut_cliente.telefono_cliente }}</p>
                              <p style="margin-left: 40px;"><strong>Correo: </strong>{{ r.rut_cliente.email_cliente }}</p>
                              <p style="margin-left: 40px;"><strong>Direccion: </strong>{{ r.rut_cliente.direccion_cliente }}</p>
                              <p><strong>Fecha: </strong></p>
                              <p style="margin-left: 40px;"><strong>Desde:</strong> {{ r.fechaInicio }}</p>
                              <p style="margin-left: 40px;"><strong>Hasta:</strong> {{ r.fechaFinal }}</p>
                              <p><strong>Total:</strong> ${{ r.precio_total }} CLP</p>
                              <h2>Extras</h2>
                              <p><strong>Servicio:</strong> {{ r.n_s_ext }}</p>
                              <!-- Puedes añadir más campos aquí -->
                               <button type="button" class="btn btn-warning "  >Descargar informe</button>
                            </div>
                          </div>
                        </div>
                      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

 