{% extends 'app/base.html' %}
{% load static %}

{% block title %}SERVICIOS{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/crear-servicio-emp.css' %}">
{% endblock %}

{% block content %}
<main class="contenedor-recuadro">

  <!-- Recuadro único que contiene lista y formulario -->
  <div class="recuadro-servicio">

    <!-- Lista de Servicios -->
    <div class="lado izquierdo">
      <h3>Servicios Existentes</h3>
      <ul>
        {% for p in servicios %}
          <li>
            {{ p.n_s_ext }}
            <span>
              <a class="btn btn-warning btn-sm" href="{% url 'modificar_servicio_ext' p.n_s_ext %}">
                <i class="fas fa-pen"></i>
              </a>
              <a class="btn btn-danger btn-sm" href="{% url 'eliminar_servicio_ext' p.n_s_ext %}">
                <i class="fas fa-trash"></i>
              </a>
            </span>
          </li>
        {% endfor %}
      </ul>
      <a class="btn btn-success" href="{% url 'listar_servicio' %}">Crear Nuevo</a>
    </div>

    <!-- Formulario -->
    <div class="lado derecho">
      <h2 class="reservaTitulo">Crear Servicio</h2>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="titulosInputs"><p>Nombre</p></div>
        <input type="text" name="{{ form.n_s_ext.name }}" value="{{ form.n_s_ext.value|default_if_none:'' }}" placeholder="Nombre del servicio">

        <div class="titulosInputs"><p>Descripción Breve</p></div>
        <input type="text" name="{{ form.descripcion_breve.name }}" value="{{ form.descripcion_breve.value|default_if_none:'' }}" placeholder="Descripción del servicio">
        
        <div class="titulosInputs"><p>Descripción</p></div>
        <input type="text" name="{{ form.descripcions_ext.name }}" value="{{ form.descripcions_ext.value|default_if_none:'' }}" placeholder="Descripción del servicio">

        <div class="titulosInputs"><p>Valor</p></div>
        <input type="number" name="{{ form.precios_ext.name }}" value="{{ form.precios_ext.value|default_if_none:'' }}" placeholder="Precio del servicio">

        <div class="titulosInputs"><p>Empresa</p></div>
        {{ form.empresa }}
        {{ form.imagen }}
        <div class="contenedorInputs">
          <button type="submit" class="button">Crear servicio</button>
        </div>
      </form>
    </div>

  </div>
</main>
{% endblock %}
