{% extends 'app/base.html' %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/detalle-servicios.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- tarjeta principal -->
    <div class="col-12 mb-4 tarjeta-full2">
        <div class="tarjeta2">
            <img src="https://geofrikphotos.files.wordpress.com/2014/02/volcan-rano-kau-e1391276956617.jpg"
                class="card-img-top" alt="Rano Kau detalle">
            <div class="card-bod2">
                <h2 class="card-title2">Tour Rano Kau</h2> <br>
                <p class="card-text">Explora uno de los volcanes más emblemáticos de Rapa Nui: el majestuoso Rano Kau.
                    Este tour te lleva a descubrir un cráter colosal, con más de 1,5 km de diámetro, que resguarda en su
                    interior una laguna de aguas tranquilas cubierta de juncos y vegetación endémica. Las paredes del
                    cráter caen abruptamente en una formación natural impresionante que te hará sentir como si
                    estuvieras en otro mundo. <br>

                    Durante el recorrido, ascenderás por senderos escénicos rodeados de flora nativa, mientras un guía
                    local comparte contigo los secretos geológicos y culturales del lugar. Una vez en la cima,
                    disfrutarás de una vista panorámica que abarca el inmenso océano Pacífico y el mítico poblado
                    ceremonial de Orongo, ubicado al borde del acantilado.
                    Incluye:
                        <br>
                        Transporte desde y hacia tu hospedaje.
                        <br>
                        Entrada al Parque Nacional Rapa Nui.
                        <br>
                        Guía especializado bilingüe (español-inglés).
                
                </p>
                <div class="card-footer-info2">
                    <h3 class="precio">$70.000 CLP / persona</h3>
                    <a href="#" class="btn-custom2">¡Reserva Ya!</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}