{% extends 'app/base.html' %}
{% load static %}
{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/detalle-habitaciones.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- tarjeta principal -->
    <div class="col-12 mb-4 tarjeta-full">
        <div class="tarjeta2">
            <img src="{{ servicio.imagen.url }}" class="card-img-top">
            <div class="card-bod2">
                <h2 class="card-title">{{ servicio.n_s_ext }}</h2> <br>
                <p class="card-text">{{ servicio.descripcions_ext }}</p>
                    <div class="card-footer-info">
                        <h3 class="precio">${{ servicio.precios_ext }} CLP / noche</h3>
                         {% if user.is_authenticated %}
                            {% if user.groups.all.0.name == 'Cliente' %}
                                <a href="{% url 'reservas' 123456789 %}" class="btn-custom">¡Reserva Ya!</a>
                            {% endif %}
                        {% endif %}
                      </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}