{% extends 'app/base.html' %}

{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/reserva.css' %}">
{% endblock %}

{% block content %}


<div class="contenedor-formularios">

  <!-- FORMULARIO IZQUIERDA -->
  <div class="formulario-reserva">
    
    <h1>¡Reserva tu experiencia!</h1>

    <div class="campo-formulario">
      <label>Nombre Completo</label>
          <input type="text" name="rut" 
          value="{{ clienteInfo.Pnombre_cliente }} {{ clienteInfo.Snombre_cliente }} {{ clienteInfo.Papellido_cliente }} {{ clienteInfo.Sapellido_cliente }}"  
          readonly>
        </div>
        
        <div class="campo-formulario">
          <label>Número de Contacto</label>
          <input type="text" name="rut" 
          value="+569 {{ clienteInfo.telefono_cliente }}"  
          readonly>
        </div>
        
        <div class="campo-formulario">
          <label>Correo Electrónico</label>
          <input type="text" name="rut" 
          value="{{ clienteInfo.email_cliente }}"  
          readonly>
    </div>

    <div class="checkbox-condiciones">
      <input type="checkbox" checked>
      <label>He leído y acepto los <a href="#">términos y condiciones</a></label>
    </div>
  </div>

  <!-- FORMULARIO DERECHA -->
  <div class="confirmacion-datos">
    <!-- Template reservas.html -->
    <p style="text-align: center;">{{ error_fecha }}</p>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

       <!-- Oculta el dropdown generado automáticamente -->
      <div style="display: none;">
          {{ form.rut_cliente }}
      </div>

      <!-- Campo personalizado para escribir el RUT -->
      <input type="hidden" id="rut_cliente_input" name="{{ form.rut_cliente.name }}" value="{{ clienteInfo.Rut_cliente }}">


      <div class="titulosInputs"><p>N° Reversa
        <input type="number" name="{{ form.id_reserva.name }}" value="{{ identificador }}" readonly>
      </p></div>

      <div class="titulosInputs">
        <p>Fecha ingreso  
          <input type="date" name="{{ form.fechaInicio.name }}" value="{{ form.fechaInicio.value }}" placeholder="Fecha Inicio">
        </p></div>

      <div class="titulosInputs"><p>Fecha partida
        <input type="date" name="{{ form.fechaFinal.name }}" value="{{ form.fechaFinal.value }}" placeholder="Fecha Final">
      </p></div>
      
      <div class="titulosInputs"><p>Servicio
        {{ form.n_s_ext }}
      </p></div>
      
      <div class="titulosInputs"><p>Habitacion
        {{ form.n_habitacion }}
      </p></div>


      <div class="titulosInputs">
        <input type="hidden" name="{{ form.precio_total.name }}" value="0" placeholder="Valor Total">
      </div>

      
      {% if error_fecha == 'Dia fecha invalida' %}
        <div class="contenedorInputs">
          <button type="submit" class="boton-reservar">Otra vez</button>
        </div>
      {% endif %}
      {% if error_fecha != 'Dia fecha invalida' %}
        <div class="contenedorInputs">
          <button type="submit" class="boton-reservar">Crear Reserva</button>
        </div>
      {% endif %}
</form>

  </div>
</div>
{% endblock %}
