{% extends 'app/base.html' %}

{% load static %}

{% block title %}Reserva EMP{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/reserva-emp.css' %}">
{% endblock %}

{% block content %}

  <main class="reserva-container">
    
    <div class="reserva-box" style= "background-color: #e9d8c4";>
      <aside class="lista-reservas" >
        
        <ul>
          <li><span class="dot"></span> 04.08.19.001 <span class="check"></span></li>
          <li><span class="dot"></span> 04.08.19.002 <span class="check"></span></li>
          <li><span class="dot"></span> 04.08.19.003 <span class="check"></span></li>
          <li><span class="dot"></span> 04.08.19.004 <span class="check"></span></li>
          <li><span class="dot"></span> 04.08.19.005 <span class="check"></span></li>
          <li><span class="dot"></span> 05.08.19.001 <span class="check"></span></li>
          <li><span class="dot"></span> 05.08.19.002 <span class="check"></span></li>
          <li><span class="dot"></span> 05.08.19.003 <span class="check"></span></li>
          <li><span class="dot"></span> 05.08.19.004 <span class="check"></span></li>
        </ul>
        <button class="crear-btn">Crear Nuevo</button>
      </aside>

      <section class="formulario">
        <form>
          <h1>Reserva</h1>
          <label>Nombre</label>
          <input type="text" placeholder="Value">
          
          <label>Telefono contacto</label>
          <input type="text" placeholder="Value">

          <label>E-Mail</label>
          <input type="email" placeholder="Value">

          <label>N° tarjeta de Credito</label>
          <input type="text" placeholder="Value">

          <label>Rut / N° Pasaporte</label>
          <input type="text" placeholder="Value">
        </form>
        <div class="acciones">
      <button>Editar</button>
      <button>Eliminar</button>
      <button>Imprimir informe</button>
    </div>
      </section>

      <section class="servicios">
        <div>Habitación Costa New <span>$89.990</span><br><small>cantidad: 6 Noches</small></div>
        <div>Tour día completo <span>$79.990</span><br><small>cantidad: 2 Personas</small></div>
        <div>Vista del amanecer <span>$79.990</span><br><small>cantidad: 2 Personas</small></div>
        <div><strong>TOTAL:</strong> <span>$859.900</span><br><small>cantidad: 2 Personas</small></div>
      </section>
    </div>

    
  </main>
{% endblock %}
