{% extends 'app/base.html' %}

{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/reserva.css' %}">
{% endblock %}

{% block content %}


<div class="contenedor-formularios">

  <!-- FORMULARIO IZQUIERDA -->
  <div class="formulario-reserva">
    
    <h1>¡Reserva tu experiencia!</h1>

    <div class="campo-formulario">
      <label>Nombre Completo</label>
          <input type="text" name="rut" 
          value="{{ clienteInfo.Pnombre_cliente }} {{ clienteInfo.Snombre_cliente }} {{ clienteInfo.Papellido_cliente }} {{ clienteInfo.Sapellido_cliente }}"  
          readonly>
        </div>
        
        <div class="campo-formulario">
          <label>Número de Contacto</label>
          <input type="text" name="rut" 
          value="+569 {{ clienteInfo.telefono_cliente }}"  
          readonly>
        </div>
        
        <div class="campo-formulario">
          <label>Correo Electrónico</label>
          <input type="text" name="rut" 
          value="{{ clienteInfo.email_cliente }}"  
          readonly>
    </div>

    <div class="checkbox-condiciones">
      <input type="checkbox" checked>
      <label>He leído y acepto los <a href="#">términos y condiciones</a></label>
    </div>
  </div>

  <!-- FORMULARIO DERECHA -->
  <div class="confirmacion-datos">
  <p class="mensaje-error">{{ error_fecha }}</p>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" id="rut_cliente_input" name="{{ form.rut_cliente.name }}" value="{{ clienteInfo.Rut_cliente }}">

    <div class="campo-form tarjeta-dato">
      <label>N° Reserva</label>
      <input type="number" name="{{ form.id_reserva.name }}" value="{{ identificador }}" readonly>
    </div>

    <div class="campo-form tarjeta-dato">
      <label>Fecha ingreso</label>
      <input type="date" name="{{ form.fechaInicio.name }}" value="{{ form.fechaInicio.value }}">
    </div>

    <div class="campo-form tarjeta-dato">
      <label>Fecha partida</label>
      <input type="date" name="{{ form.fechaFinal.name }}" value="{{ form.fechaFinal.value }}">
    </div>

    <div class="campo-form tarjeta-dato">
      <label>Servicio</label>
      {{ form.n_s_ext }}
    </div>

    <div class="campo-form tarjeta-dato">
      <label>Habitación</label>
      {{ form.n_habitacion }}
    </div>

    <input type="hidden" name="{{ form.precio_total.name }}" value="0">

    {% if error_fecha != 'Dia fecha invalida' %}
        <div class="contenedorInputs">
          <button type="submit" class="boton-reservar">Crear Reserva</button>
        </div>
      {% endif %}
      {% if error_fecha == 'Dia fecha invalida' %}
        <div class="contenedorInputs">
          <button type="submit" class="boton-reservar">Otra vez</button>
        </div>
      {% endif %}
  </form>
</div>


      
      
      
</form>

  </div>
</div>
{% endblock %}
