{% extends 'app/base.html' %}
{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/confirmacion-reserva.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="color: white;">
  <h1 class="text-center">Confirmación de Reserva</h1>
  <p class="text-center">¡Gracias por reservar con nosotros!</p>
  <p class="text-center">A continuación, encontrará los detalles de su reserva:</p>
  <hr>
  <h2>Detalles de la Reserva</h2>
  <p><strong>RUT del Cliente:</strong> {{ rut_cliente }}</p>
  <p><strong>ID de Reserva:</strong> {{ id_reserva }}</p>
  <p><strong>Fecha de Inicio:</strong> {{ fechaInicio }}</p>
  <p><strong>Fecha Final:</strong> {{ fechaFinal }}</p>
  <p style="margin-left: 30px;"><strong>Días de estadía:</strong> {{ dias_diferencia }}</p>
  <p><strong>Habitación:</strong> {{ n_habitacion }}</p>

  {% for s in habitaciones %}
    {% if s == n_habitacion %}
      <p style="margin-left: 30px;"><strong>Precio Habitación por noche:</strong> {{ s.precio }}</p>
    {% endif %}
  {% endfor %}

  <p><strong>ID del País:</strong> {{ id_pais }}</p>
  <p><strong>Servicio:</strong> {{ serv }}</p>

  {% for s in servicios %}
    {% if s == serv %}
      <p style="margin-left: 30px;"><strong>Precio Servicio por día:</strong> {{ s.precios_ext }}</p>
    {% endif %}
  {% endfor %}

  <p><strong>Total a pagar:</strong> ${{ total_calculado }}</p>

  <!-- CAMPO OCULTO PARA EL CORREO -->
  <textarea id="mensajeCorreoReserva" hidden>
    ¡Gracias por tu reserva!

    Aquí están los detalles:

      ID de Reserva: {{ id_reserva }}
      RUT del Cliente: {{ rut_cliente }}
      Fecha de Estadia: {{ fechaInicio }} - {{ fechaFinal }}
      Días de estadía: {{ dias_diferencia }}
      Habitación: {{ n_habitacion }}
        {% for s in habitaciones %}{% if s == n_habitacion %}Precio Habitación por noche: {{ s.precio }}{% endif %}{% endfor %}
      Servicio: {{ serv }}
        {% for s in servicios %}{% if s == serv %}Precio Servicio por día: {{ s.precios_ext }}{% endif %}{% endfor %}
      
        Total a pagar: ${{ total_calculado }}
    
    ¡Recuerda mostrar este correo al llegar a nuestro hotel!
  </textarea>





  <form method="POST" id="reservaForm" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="{{ form.id_reserva.name }}" value="{{ id_reserva }}">
    <input type="hidden" name="{{ form.rut_cliente.name }}" value="{{ rut_cliente.Rut_cliente }}">
    <input type="hidden" name="{{ form.n_s_ext.name }}" value="{{ serv.id }}">
    <input type="hidden" name="{{ form.n_habitacion.name }}" value="{{ n_habitacion.id }}">
    <input type="hidden" name="{{ form.fechaInicio.name }}" value="{{ fechaInicio }}">
    <input type="hidden" name="{{ form.fechaFinal.name }}" value="{{ fechaFinal }}">
    <input type="hidden" name="{{ form.precio_total.name }}" value="{{ total_calculado }}">
    <div class="text-center">
      <div id="paypal-button-container"></div>
    </div>
  </form>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=Abd4Pm8N7gxOZSIfQ3VIzz1BXMlEN8wBUj-zdrL2ylSRrDynDR03wRzzqpI0C0QFAlzruMtnx_Ow0w-9&currency=USD"></script>

<script>
  paypal.Buttons({
    createOrder: function (data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: "{{ total_calculado }}"
          }
        }]
      });
    },
    onApprove: function (data, actions) {
      return actions.order.capture().then(function (details) {
        
     const mensaje = document.getElementById('mensajeCorreoReserva').value;

    fetch('/enviar_correo/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        // si no usas @csrf_exempt, agrega el token CSRF aquí
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: new URLSearchParams({
        'mensaje': mensaje
      })
    })
    .then(response => response.json())
    .then(data => {
      console.log('Respuesta del servidor:', data.status);
    })
    .catch(error => {
      console.error('Error al enviar correo:', error);
    });

        // Enviar el formulario
        document.getElementById('reservaForm').submit();
        const rutCliente = "{{ id_reserva|escapejs }}";
        window.location.href = `/registroPagoBoleta/${rutCliente}/`;
        /* conectar con BD */
      });
    }
  }).render('#paypal-button-container');
</script>
{% endblock %}