{% extends 'app/base.html' %}
{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/confirmacion-reserva.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="color: white;">
  <h1 class="text-center">Confirmación de Reserva</h1>
  <p class="text-center">¡Gracias por reservar con nosotros!</p>
  <p class="text-center">A continuación, encontrará los detalles de su reserva:</p>
  <hr>
  <h2>Detalles de la Reserva</h2>
  <p><strong>RUT del Cliente:</strong> {{ rut_cliente }}</p>
  <p><strong>ID de Reserva:</strong> {{ id_reserva }}</p>
  <p><strong>Fecha de Inicio:</strong> {{ fechaInicio }}</p>
  <p><strong>Fecha Final:</strong> {{ fechaFinal }}</p>
  <p style="margin-left: 30px;"><strong>Dias de estadia:</strong> {{ dias_diferencia }}</p>
  <p><strong>Habitación:</strong> {{ n_habitacion }}</p>
  <!-- OBTENER EL VALOR HABITACION POR DIA -->
  {% for s in habitaciones %}
  {% if s == n_habitacion %}
  <p style="margin-left: 30px;"><strong>Precio Habitacion por noche:</strong> {{ s.precio }}</p>
  {% endif %}
  {% endfor %}
  <p><strong>ID del País:</strong> {{ id_pais }}</p>
  <!-- OBTENER EL VALOR DERL SERVICIOS -->
  <p><strong> Servicio:</strong> {{ serv }}</p>
  {% for s in servicios %}
    {% if s == serv %}
      <p style="margin-left: 30px;"><strong>Precio Servicio por dia:</strong> {{ s.precios_ext }}</p>
    {% endif %}
  {% endfor %}
  <p><strong>Total a pagar:</strong> ${{ total_calculado }}</p>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="{{ form.id_reserva.name }}" value="{{ id_reserva }}">
    <input type="hidden" name="{{ form.rut_cliente.name }}" value="{{ rut_cliente.Rut_cliente }}">
    <input type="hidden" name="{{ form.n_s_ext.name }}" value="{{ serv.id }}">
    <input type="hidden" name="{{ form.n_habitacion.name }}" value="{{ n_habitacion.id }}">
    <input type="hidden" name="{{ form.fechaInicio.name }}" value="{{ fechaInicio }}">
    <input type="hidden" name="{{ form.fechaFinal.name }}" value="{{ fechaFinal }}">
    <input type="hidden" name="{{ form.precio_total.name }}" value="{{ total_calculado }}">
    <div class="text-center">
      <div id="paypal-button-container"></div>
    </div>
  </form>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=Abd4Pm8N7gxOZSIfQ3VIzz1BXMlEN8wBUj-zdrL2ylSRrDynDR03wRzzqpI0C0QFAlzruMtnx_Ow0w-9&currency=USD"></script>


<script>
  paypal.Buttons({
    createOrder: function (data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: "{{ total_calculado }}"
          }
        }]
      });
    },
    onApprove: function (data, actions) {
      return actions.order.capture().then(function (details) {
        alert('Pago completado por ' + details.payer.name.given_name + '!');

        / conectar con BD */
      });
    }
  }).render('#paypal-button-container');
</script>
{% endblock %}