{% extends 'app/base.html' %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/detalle-habitaciones.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- tarjeta principal -->
    <div class="col-12 mb-4 tarjeta-full">
        <div class="tarjeta2">
            <img src="https://images.squarespace-cdn.com/content/v1/56fd6eb3b654f9e0522863e2/1460148383941-LFYSKP0AQ0LMF5Q4CVS4/ISLA+DE+PASCUA+-+KONAKOA+LODGE+-+SIN+LOGO-59.jpg"
                class="card-img-top" alt="Low Cost">
            <div class="card-bod2">
                <h2 class="card-title">Habitacion Sunset global</h2> <br>
                <p class="card-text">La Habitación Sunset Global te ofrece una experiencia única en Isla de Pascua,
                    donde cada atardecer pinta el cielo de colores vibrantes, creando una atmósfera mágica y relajante.
                    Con vistas panorámicas al océano Pacífico, podrás disfrutar de un diseño que combina a la perfección
                    la elegancia contemporánea y el espíritu rústico de Rapa Nui. El ambiente está cuidadosamente
                    diseñado para ofrecerte la máxima comodidad, con una cama king-size, ropa de cama de alta calidad y
                    una decoración que refleja la esencia de la isla. <br><br>

                    El baño privado cuenta con detalles modernos, incluyendo una ducha de efecto lluvia, productos de
                    higiene de lujo y toallas de algodón suave para tu comodidad. Además, la habitación está equipada
                    con un pequeño salón de descanso, donde podrás relajarte mientras disfrutas de la tranquilidad y la
                    belleza de este refugio boutique. <br><br>

                    Como parte de tu estancia, disfrutarás de desayuno continental incluido, con opciones frescas y
                    locales como frutas tropicales, panes recién horneados, jugos naturales y café de la isla. El
                    servicio a la habitación también está disponible bajo solicitud, permitiéndote disfrutar de tu
                    desayuno con una vista inigualable al mar.</p>
                    <div class="card-footer-info">
                        <h3 class="precio">$120.000 CLP / noche</h3>
                        <a href="#" class="btn-custom">¡Reserva Ya!</a>
                      </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}