.cliente-container {
  padding: 60px 60px;
  width: 100%;
}
.cliente-box {
  background: #f5f0ea;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;  
}
.lista-cliente {
  width: 30%;
  background: #fdf6ff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.lista-cliente ul {
  list-style: none;
  padding: 0;
}
.lista-cliente li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-radius: 12px;
}
.check {
  height: 15px;
  width: 15px;
  background-color: #5b7f5c;
  display: inline-block;
}
.dot {
  height: 30px;
  width: 30px;
  background-color: #5b7f5c;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.crear-btn {
  margin-top: 20px;
  padding: 8px;
  background: #5b7f5c;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.formulario {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.formulario form {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.formulario label {
  margin-top: 10px;
}
.formulario input {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* COLUMNAS */
.lado.izquierdo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.lado.izquierdo h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #2c2c2c;
}
.lado.izquierdo ul {
  list-style: none;
  padding: 0;
}
.lado.izquierdo li {
  background-color: #f9f4fb;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #333;
  line-height: 1.3;
}
.lado.izquierdo li strong {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
}
.lado.izquierdo li span {
  font-weight: bold;
  color: #7a9c75;
  margin-left: 10px;
}