{% extends 'app/base-emp.html' %}
{% load static %}

{% block title %}Habitaciones{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/habitacion-emp.css' %}">
{% endblock %}

{% block content %}
<main class="habitacion-container">
  <div class="habitacion-box" style="background-color: #e9d8c4;">
    <aside class="lista-habitacion">
      <ul>
        {% for p in Habitaciones %}
        <li>
          <a class="btn btn-sm btn-primary" href="{% url 'modificar_habitacion_emp' p.n_habitacion %}">
            <i class="fas fa-pen"></i>
          </a>
          {{ p.n_habitacion }}
          <a class="btn btn-sm btn-danger" href="{% url 'eliminar_habitacion_emp' p.n_habitacion %}">
            <i class="fas fa-trash"></i>
          </a>
        </li>
        {% endfor %}
      </ul>
    </aside>

    <form method="POST" action="" enctype="multipart/form-data" >
        {% csrf_token %}
        <h1>Habitación</h1>

        <label>Nombre</label>
        <input 
          class="inputNomHab"
          type="text"
          placeholder="Número habitación"
          name="{{ form.n_habitacion.name }}"
          value="{{ form.n_habitacion.value|default_if_none:'' }}">

        <label>Descripción</label>
        <input 
          class="inputDesHab"
          type="text"
          name="{{ form.descripcion.name }}"
          placeholder="Descripción habitación"
          value="{{ form.descripcion.value|default_if_none:'' }}">

        <label>Valor</label>
        <input 
          class="inputValHab"
          type="number"
          name="{{ form.precio.name }}"
          placeholder="Precio habitación"
          value="{{ form.precio.value|default_if_none:'' }}">

        <div class="row">
          <div class="contenedorInputs">
            <button type="submit" class="button" style="width: 95%;">Crear habitación</button>
          </div>
        </div>
    </form>
    </section>
  </div>
</main>
{% endblock %}
