{% extends 'app/base-emp.html' %}
{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/crear-habitacion-emp.css' %}">
{% endblock %}

{% block content %}
{{ mensaje }}
<!-- Caja de servicios -->
<div class="cajaServicios" style="width: 35%;margin-top: 120px;">
    <!-- Titulo servicio -->
    <h1 class="reservaTitulo">Habitacion</h1>
    <!-- Contenido -->
    <div class="container ">

        <form method="POST" action="" enctype="multipart/form-data" >
            {% csrf_token %}
        <!-- Fila del nombre del servicio -->
            <!-- titulo del nombre servicio -->
            <div class="row" >
                <div  style="width: 95%;" class="titulosInputs" >
                    <p>Numero Habitacion</p>                    
                </div>                             
            </div>
            <!-- input del servicio -->
            <div class="row">
                <div class="contenedorInputs">
                        <input 
                            class="inputNomHab"
                            type="text"
                            name="{{ form.n_habitacion.name }}"
                            id="numHabitacion"
                            placeholder="Numero habitacion"
                            value="{{ form.n_habitacion.value|default_if_none:'' }}">
                    </div>
                </div>
        <!-- Fila del nombre de descripcion servicio -->
            <!-- titulo descripcion servicio -->
            <div class="row">
                <div  style="width: 95%;" class="titulosInputs" >
                    <p>Descripcion</p>
                </div>   
            </div>
            <!-- input descripcion servicio-->
            <div class="row">
                <div  class="contenedorInputs">
                    <input 
                        class="inputDesHab" 
                        type="text" 
                        name="{{ form.descripcion.name }}"  
                        id="descripcion" 
                        value="{{ form.descripcion.value|default_if_none:'' }}"  
                        placeholder="Descripcion habitacion" >
                </div>
            </div>
        <!-- Fila del nombre del valor de servicio -->
            <!-- titulo del valor de servicio -->
            <div class="row">
                <div  style="width: 95%;" class="titulosInputs" >
                    <p>Valor</p>
                </div>   
            </div>
            <!-- input del valor -->
            <div class="row">
                <div  class="contenedorInputs">
                    <input 
                        class="inputValHab" 
                        type="number" 
                        name="{{ form.precios_ext.name }}" 
                        id="precio" 
                        value="{{ form.precios_ext.value|default_if_none:'' }}" 
                        placeholder="Precio de habitacion" >
                </div>
            </div>


        <!-- 
            
            <div class="row">
                <div  style="width: 95%;" class="titulosInputs" >
                    <p>Condicion</p>
                </div>   
            </div>
            
            <div class="row">
                <div  class="contenedorInputs">
                    <input  class="inputConHab" type="text" name="condicion" id="condicion" placeholder="Condicion de la habitacion" >
                </div>
            </div>

        Fila del nombre del condicion de servicio -->

        <!-- boton crear habitacon -->
        <div class="row">
            <div  class="contenedorInputs">
                <button  type="submit" style="width: 95%;" class="button">Crear habitacion</button>
            </div>
        </div>




    </div>

</div>



{% endblock %}