{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contraseña actualizada</title>
  <link rel="stylesheet" href="{% static 'app/css/Cuentas/cambioContrasena/cambioContrasenaCompletado.css' %}">
</head>
<body>
  <div class="container">
    <h2>¡Contraseña actualizada!</h2>
    <p>Ya puedes iniciar sesión con tu nueva contraseña.</p>
    <button>
      <a  target="_blank" href="{% url 'login' %}" class="btn btn-success">Iniciar Sesión</a>
    </button>
  </div>
</body>
</html>
