{% extends 'app/base-emp.html' %}

{% load static %}

{% block title %}Habitacion EMP{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/habitacion-emp.css' %}">
{% endblock %}

{% block content %}
<table  class="table table-striped table-hover table-responsive " style="color: white;" >
  <tr >
    <th style="color: white;">Habitacion</th>
    <th style="color: white;">Descripcion</th>
    <th style="color: white;">Valor</th>
  </tr>
  {% for p in Habitaciones %}
  <tr>
      <td  style="color: white;">{{ p.n_habitacion }}</td>
      <td style="color: white;">{{ p.descripcion }}</td>
      <td style="color: white;">{{ p.precio }}</td>
      <td style="color: white;">
        <a  class="btn btn-info btn-sm btn-warning" href="{% url 'modificar_habitacion_emp' p.n_habitacion %}">Modificar</a>
      </td>
      <td style="color: white;">
        <a class="btn btn-info btn-sm btn-danger" href="{% url 'eliminar_habitacion_emp' p.n_habitacion %}">Eliminar</a>
      </td>
  </tr>
  {% endfor %}
</table>
<main class="habitacion-container">
  <div class="habitacion-box" style= "background-color: #e9d8c4";>
    <aside class="lista-habitacion" >
        <ul>
          {% for p in Habitaciones %}
            <li><span class="dot"></span> {{ p.n_habitacion }} <span class="check"></span></li>
          {% endfor %}
        </ul>
        <a class="crear-btn" type="button" href="{% url 'crear_habitacion_emp' %}">Crear Nuevo</a>
      </aside>

      <section class="formulario">
        
        <form>
            <h1>Habitación</h1>
          <label>Nombre</label>
          <input type="text" placeholder="Value">
          
          <label>Descripción</label>
          <input type="text" placeholder="Value">

          <label>Valor</label>
          <input type="email" placeholder="Value">

          <label>Condición</label>
          <input type="text" placeholder="Value">
          
        </form>
        <div class="acciones">
      <button>Editar</button>
      <button>Eliminar</button>
      <button>Imprimir informe</button>

  </main>
 {% endblock %}