{% extends 'app/base-emp.html' %}

{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/agenda.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock %}

{% block content %}
<body>

  <main class="main-content">
    <div class="flex-container">
      <div class="servicio-box" style="background-color: #e9d8c4;">
        <section class="calendar-section">
          <label for="date">📅 Selecciona una fecha</label>
          <input type="text" id="date" name="date" />
        </section>

        <div class="right-content">
          <section class="info-section">
            <div class="column">
              <h2>Habitación</h2>
              <div class="card">Habitación Costa New<br><small>2 Personas</small><span>Abonado</span></div>
              <div class="card">Habitación Costa Sunset<br><small>2 Personas</small><span>Abonado</span></div>
              <div class="card">Habitación Costa New<br><small>2 Personas</small><span>Abonado</span></div>
            </div>

            <div class="column">
              <h2>Servicios</h2>
              <div class="card">Tour día completo<br><small>cantidad: 2 Personas</small><span>Cancelado</span></div>
              <div class="card">Vista del amanecer<br><small>cantidad: 2 Personas</small><span>Abonado</span></div>
              <div class="card">Vista del amanecer<br><small>cantidad: 2 Personas</small><span>Abonado</span></div>
            </div>
          </section>

          <div class="acciones">
            <div class="button-container">
              <button>Imprimir informe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Flatpickr Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

  <!-- Inicialización después de carga -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      flatpickr("#date", {
        inline: true,
        locale: flatpickr.l10ns.es,
        dateFormat: "d/m/Y",
        defaultDate: "today",
        weekNumbers: true
      });
    });
  </script>
</body>
</html>
{% endblock %}
