{% extends 'app/base.html' %}

{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/habitaciones.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- tarjeta principal -->
  <div class="col-12 mb-4">
    <div class="tarjeta">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/48/2e/00/terraza.jpg?w=1200&h=-1&s=1"
        class="card-img-top" alt="Habitacion Sunset global">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Pack Servicios NewRapaNui</h3>
        <h5 class="card-text" style="text-align: center;width: 80%;margin: 0 auto;margin-top: 20px;" >Disfruta de una estadía 
          sin preocupaciones con nuestro exclusivo pack de servicios.
          Incluye comidas gourmet, limpieza diaria, lavado de ropa y atención personalizada, 
          todo pensado para brindarte confort, conveniencia y una experiencia de primer nivel durante tu viaje.</h5>
      </div>
    </div>
  </div>

 <!-- segunda fila -->
{% for h in servicios %}
  {% if forloop.counter0|divisibleby:3 %}
    <div class="row mb-3"> <!-- Abrimos nueva fila cada 3 cards -->
  {% endif %}

      <div class="col-md-4 mb-4">
        <div class="tarjeta">
          <img src="{{ h.imagen.url }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ h.n_s_ext }}</h5>
            <p class="card-text">{{ h.descripcion_breve }}</p>
            <a href="{% url 'detalle_servicios' h.n_s_ext %}" class="btn-custom">Ver más</a>
          </div>
        </div>
      </div>

  {% if forloop.counter|divisibleby:3 or forloop.last %}
    </div> <!-- Cerramos la fila -->
  {% endif %}
{% endfor %}

</div>
{% endblock %}
