{% extends 'app/base.html' %}

{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/habitaciones.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- tarjeta principal -->
  <div class="col-12 mb-4">
    <div class="tarjeta">
      <img src="https://images.squarespace-cdn.com/content/v1/56fd6eb3b654f9e0522863e2/1460148383941-LFYSKP0AQ0LMF5Q4CVS4/ISLA+DE+PASCUA+-+KONAKOA+LODGE+-+SIN+LOGO-59.jpg"
        class="card-img-top" alt="Habitacion Sunset global">
      <div class="card-body">
        <h5 class="card-title">Habitacion Sunset global</h5>
        <p class="card-text">La Habitación Sunset Global te ofrece una experiencia única en Isla de Pascua, donde cada
          atardecer pinta el cielo de colores vibrantes. Con vistas privilegiadas al océano Pacífico, su diseño combina
          elegancia contemporánea y el espíritu rústico de Rapa Nui, creando un espacio perfecto para relajarte y
          reconectar. Disfruta de la tranquilidad y la belleza de este refugio boutique, ideal para quienes buscan
          escapar del mundo y sumergirse en la esencia de la isla.</p>
        <a href="#" class="btn-custom">Ver más</a>
      </div>
    </div>
  </div>

 <!-- segunda fila -->
{% for h in servicios %}
  {% if forloop.counter0|divisibleby:3 %}
    <div class="row mb-3"> <!-- Abrimos nueva fila cada 3 cards -->
  {% endif %}

      <div class="col-md-4 mb-4">
        <div class="tarjeta">
          <img src="{{ h.imagen.url }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ h.n_s_ext }}</h5>
            <p class="card-text">{{ h.descripcion_breve }}</p>
            <a href="{% url 'detalle_servicios' h.n_s_ext %}" class="btn-custom">Ver más</a>
          </div>
        </div>
      </div>

  {% if forloop.counter|divisibleby:3 or forloop.last %}
    </div> <!-- Cerramos la fila -->
  {% endif %}
{% endfor %}

</div>
{% endblock %}
