{% extends 'app/base.html' %}
{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/inicio.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

        <div class="col-12 mb-4">
            <div class="d-flex justify-content-center">
                <div class=" bienvenida-tarjeta">
                    <div class="card-body">
                        <h1 class="card-title">Bienvenido a Hotel Rapa Nui</h1>
                        <p class="card-text"> <b>Explora el encanto de la isla y sumérgete en una experiencia única de descanso, cultura y naturaleza.</b></p>
                    </div>
                </div>
            </div>
        </div>    
        
    <!-- tarjeta principal -->
    <div class="col-12 mb-4">
        <div class="tarjeta">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/421285606.jpg?k=37d7f7ed335dbb8a53a75e12e511d7995916aaebfdb05c262fae7f478b08e987&o=&hp=1"
                class="card-img-top" alt="Low Cost">
            <div class="card-body">
                <h3 style="text-align: center;margin-bottom: 20px;" class="card-title">Nuestra Boutique</h5>
                <p  style="width: 60%;text-align: center;margin: 0 auto;" class="card-text">La Habitación Sunset Global ofrece una experiencia premium en 
                    Isla de Pascua, combinando lujo contemporáneo con la esencia ancestral de Rapa Nui.
                     Con vistas privilegiadas al océano Pacífico y una terraza privada
                     para disfrutar de atardeceres inolvidables, este refugio boutique 
                     está diseñado para quienes buscan privacidad, belleza natural y 
                     conexión cultural en un entorno exclusivo.
                </p>
            </div>
        </div>
    </div>

    <!-- segunda fila -->
    <div class="row">
        <!-- Tarjeta 1 -->
        <div class="col-md-6 mb-6">
            <div class="tarjeta">
                <img src="https://images.squarespace-cdn.com/content/v1/56fd6eb3b654f9e0522863e2/1460148383941-LFYSKP0AQ0LMF5Q4CVS4/ISLA+DE+PASCUA+-+KONAKOA+LODGE+-+SIN+LOGO-59.jpg"
                    class="card-img-top" alt="Low Cost">
                <div class="card-body">
                    <h5 class="card-title">Habitaciones low Cost</h5>
                    <p class="card-text">Una opción accesible pensada para los viajeros que valoran la autenticidad.
                        Nuestra habitación Low Cost ofrece comodidad, estilo rústico y todos los servicios esenciales en
                        un entorno boutique.</p>
                    <a href="{% url 'informacion_habitaciones' %}" class="btn-custom">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-6 mb-6">
            <div class="tarjeta">
                <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/b4/21/36.jpg"
                    class="card-img-top" alt="Tour completo">
                <div class="card-body">
                    <h5 class="card-title">Pack de Servicios</h5>
                    <p class="card-text">Descubre Rapa Nui como nunca antes. Este tour incluye los sitios arqueológicos
                        más emblemáticos, experiencias culturales auténticas y paisajes únicos.</p>
                    <a href="{% url 'informacion_servicios' %}" class="btn-custom">Ver más</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}