{% extends 'app/base.html' %}
{% load static %}

{% block title %}Inicio - Hotel Rapa Nui{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/inicio.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

        <div class="col-12 mb-4">
            <div class="d-flex justify-content-center">
                <div class=" bienvenida-tarjeta">
                    <div class="card-body">
                        <h1 class="card-title">Bienvenido a Hotel Rapa Nui</h1>
                        <p class="card-text"> <b>Explora el encanto de la isla y sumérgete en una experiencia única de descanso, cultura y naturaleza.</b></p>
                    </div>
                </div>
            </div>
        </div>    
        
    <!-- tarjeta principal -->
    <div class="col-12 mb-4">
        <div class="tarjeta">
            <img src="https://images.squarespace-cdn.com/content/v1/56fd6eb3b654f9e0522863e2/1460148383941-LFYSKP0AQ0LMF5Q4CVS4/ISLA+DE+PASCUA+-+KONAKOA+LODGE+-+SIN+LOGO-59.jpg"
                class="card-img-top" alt="Low Cost">
            <div class="card-body">
                <h5 class="card-title">Habitacion Sunset global</h5>
                <p class="card-text">La Habitación Sunset Global te ofrece una experiencia única en Isla de Pascua,
                    donde cada atardecer pinta el cielo de colores vibrantes. Con vistas privilegiadas al océano
                    Pacífico, su diseño combina elegancia contemporánea y el espíritu rústico de Rapa Nui, creando un
                    espacio perfecto para relajarte y reconectar. Disfruta de la tranquilidad y la belleza de este
                    refugio boutique, ideal para quienes buscan escapar del mundo y sumergirse en la esencia de la isla.
                </p>
                <a href="#" class="btn-custom">Ver más</a>
            </div>
        </div>
    </div>

    <!-- segunda fila -->
    <div class="row">
        <!-- Tarjeta 1 -->
        <div class="col-md-4 mb-4">
            <div class="tarjeta">
                <img src="https://images.squarespace-cdn.com/content/v1/56fd6eb3b654f9e0522863e2/1460148383941-LFYSKP0AQ0LMF5Q4CVS4/ISLA+DE+PASCUA+-+KONAKOA+LODGE+-+SIN+LOGO-59.jpg"
                    class="card-img-top" alt="Low Cost">
                <div class="card-body">
                    <h5 class="card-title">Habitación Low Cost</h5>
                    <p class="card-text">Una opción accesible pensada para los viajeros que valoran la autenticidad.
                        Nuestra habitación Low Cost ofrece comodidad, estilo rústico y todos los servicios esenciales en
                        un entorno boutique.</p>
                    <a href="#" class="btn-custom">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-4 mb-4">
            <div class="tarjeta">
                <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/b4/21/36.jpg"
                    class="card-img-top" alt="Tour completo">
                <div class="card-body">
                    <h5 class="card-title">Tour Completo</h5>
                    <p class="card-text">Descubre Rapa Nui como nunca antes. Este tour incluye los sitios arqueológicos
                        más emblemáticos, experiencias culturales auténticas y paisajes únicos.</p>
                    <a href="#" class="btn-custom">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-md-4 mb-4">
            <div class="tarjeta">
                <img src="https://i0.wp.com/imaginarapanui.com/wp-content/uploads/2017/06/Ahu-Tongariki-los-15-moai-de-Isla-de-Pascua02.jpg?resize=610%2C408&ssl=1"
                    class="card-img-top" alt="Ahu Tongariki">
                <div class="card-body">
                    <h5 class="card-title">Ahu Tongariki</h5>
                    <p class="card-text">Visita el sitio ceremonial más grande de Rapa Nui. Una experiencia única al
                        amanecer, rodeado de moáis y energía ancestral.</p>
                    <a href="#" class="btn-custom">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}