<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" >
        {% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input name="mensaje" placeholder="Mensaje"  value="{{ user.email }}" >
        <button type="submit">Enviar</button>
    </form>
    



    {% if error %}
        <p style="color:red;">Error: {{ error }}</p>
    {% endif %}
</body>
</html>