body {
  position: relative;
  background-image: url("../img/fondo.png");
  background-size: cover;
  /* La imagen cubrirá toda la pantalla */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que se repita */
  background-attachment: fixed;
  /* Fija el fondo al hacer scroll */
  height: 100vh;
  /* Asegura que ocupe toda la altura de la ventana */
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Filtro de opacidad sobre la imagen */
  z-index: -1;
  /* Lo coloca debajo del contenido */
}

.info-caja {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    line-height: 1.4;
  }
  
  .info-caja p {
    margin: 0.3rem 0 0;
    color: #333;
  }
  
  .total-confirmacion {
    background: #e6e1ed;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 0.8rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    gap: 1rem;
  }
  