body {
  position: relative;
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cajaServicios {
  width: 90%;
  max-width: 600px;
  margin: 120px auto 5%;
  padding: 30px;
  border-radius: 15px;
  background-color: #EADED0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservaTitulo {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.mensaje-error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.titulosInputs {
  width: 95%;
  margin: 0 auto;
  margin-bottom: -3%;
  padding-top: 2%;
}

.titulosInputs p {
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

.contenedorInputs {
  margin-bottom: 1%;
  width: 100%;
}

.inputNomHab,
.inputDesHab,
.inputValHab,
.inputConHab {
  width: 95%;
  border-radius: 5px;
  border: 1.5px solid rgb(163, 163, 163); /* borde negro */
  padding: 8px;
  font-size: 16px;
  margin: 0 auto 15px;
  display: block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* sombra suave */
}


.button {
  width: 95%;
  padding: 12px;
  border-radius: 8px;
  background-color: #7a9c75;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #6a8b66;
}
select {
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid rgb(163, 163, 163); /* borde negro */
  padding: 8px;
  font-size: 16px;
  margin: 0 auto 15px;
  display: block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* sombra suave */
  
}
