body {
  position: relative;
  background-image: url("../img/fondo.png");
  background-size: cover;             /* La imagen cubrirá toda la pantalla */
  background-position: center;        /* Centra la imagen */
  background-repeat: no-repeat;       /* Evita que se repita */
  background-attachment: fixed;       /* Fija el fondo al hacer scroll */
  height: 100vh;                      /* Asegura que ocupe toda la altura de la ventana */
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  
  z-index: -1;                      
}
.reserva-box {
  background-color: #000000; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}


.reserva-box {
  background-color: #000000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 

}



.servicio-container {
  padding: 60px 60px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.servicio-box {
  background: #f5f0ea;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;  
    
}

.lista-servicio {
  width: 30%;
  background: #fdf6ff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.lista-servicio ul {
  list-style: none;
  padding: 0;
}

.lista-servicio li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-radius: 12px;
}


.check {
  height: 15px;
  width: 15px;
  background-color: #5b7f5c;
  display: inline-block;
}

.dot {
  height: 30px;
  width: 30px;
  background-color: #5b7f5c;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}
.crear-btn {
  margin-top: 20px;
  padding: 8px;
  background: #5b7f5c;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.formulario {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
}

.formulario form {
    width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;     
  margin: 0 auto;       
  padding: 20px;        
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.formulario label {
  margin-top: 10px;
}


.formulario input {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.servicios {
  width: 30%;
  background: #fdf6ff;
  padding: 10px;
  border-radius: 8px;
}

.servicios div {
  margin-bottom: 15px;
}

.servicios span {
  float: right;
}

.acciones {
  margin-top: 15px;
  text-align: center;
}

.acciones button {
  margin: 0 10px;
  padding: 8px 16px;
  background: #5b7f5c;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

form li .dot {
  height: 15px;
  width: 15px;
  background-color: #5b7f5c;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
form li {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
  display: flex;
  align-items: center;
  color: #444;
  font-size: 14px;
}

