{% extends 'app/base-emp.html' %}

{% load static %}

{% block title %}Reserva EMP{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/perfil-empleado.css' %}">
{% endblock %}

{% block content %}
  
  <form class="form-container" action="/submit-reservation" method="post">
    <div class="form-icon">👤Perfil Empleado</div>
    <div class="form-grid">
      <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" placeholder="Ingresa tu nombre">
      </div>
      <div>
        <label for="nacionalidad">Nacionalidad</label>
        <input type="text" id="nacionalidad" placeholder="Ingresa tu nacionalidad">
      </div>
      <div>
        <label for="cargo">Cargo</label>
        <input type="text" id="cargo" placeholder="Ingresa tu cargo">
      </div>
      <div>
        <label for="primer-apellido">Primer Apellido</label>
        <input type="text" id="primer-apellido" placeholder="Ingresa tu primer apellido">
      </div>
      <div>
        <label for="pais-origen">País Origen</label>
        <input type="text" id="pais-origen" placeholder="Ingresa tu país de origen">
      </div>
      <div>
        <label for="comuna">Comuna</label>
        <input type="text" id="comuna" placeholder="Ingresa tu comuna">
      </div>
      <div>
        <label for="segundo-apellido">Segundo Apellido</label>
        <input type="text" id="segundo-apellido" placeholder="Ingresa tu segundo apellido">
      </div>
      <div>
        <label for="contacto">N° Contacto</label>
        <input type="text" id="contacto" placeholder="Ingresa tu número de contacto">
      </div>
      <div>
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" placeholder="Ingresa tu dirección">
      </div>
      <div>
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="Ingresa tu e-mail">
      </div>
      <div>
        <label for="rut">RUT</label>
        <input type="text" id="rut" placeholder="Ingresa tu RUT">
      </div>
      <div>
        <label for="numero">Número</label>
        <input type="text" id="numero" placeholder="Ingresa tu número">
      </div>
    </div>
  </form>
{% endblock %}
